@charset "utf-8";
@import "normalize";

@import "sass/utilities/_all";
$slate: #2D3644;
$grey: #B6B6B6;
$forest: #505D2D;
$red: #B72633;

@import "sass/base/_all";
@import "sass/elements/_all";
@import "sass/components/_all";
@import "sass/grid/_all";
@import "sass/layout/_all";

// universal styles

body {
  border-top: 8px solid $red;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
  font-weight: 300;
  font-size: 1.1em;
  margin-bottom: 8px;
}

a {
  color: $red;
}

footer {
  max-height: 3%;
}

// custom helpers

.space {
  padding: 3% 2%;
}

.margin-top {
  margin-top: 15px;
}

.red {
  color: $red;
}

// nav menus

@media (min-width: 769px) {
  nav.home {
    padding-top: 98px;
  }
}

nav {
  text-align: center;

  a {
    color: $red;
    font-size: 1.2em;
    font-weight: 200;
    padding: 0 15px;
  }
}

.secondary {
  margin-top: 20px;
}

// home page

.variant-1 {
  border-bottom: 0.5px dashed white;
  color: white;
  max-width: 98px;
}

.variant-2 {
  border-bottom: 0.5px dashed black;
  color: black;
  max-width: 120px;
}

.about-me-variant {
  border-bottom: 0.5px dashed $red;
  color: $red;
  max-width: 140px;
}

.about-me {
  background: url("/images/chair.jpg") no-repeat right;
  min-height: 150px;
}

.code {
  background: url("/images/code.png") no-repeat right;
  min-height: 350px;
}

.poetry {
  background: url("/images/swimmer.jpg") no-repeat center;
  min-height: 350px;
}

// bio

.mlg {
  margin-top: 55px;
}
