@charset "utf-8";
@import "normalize";

@import "sass/utilities/_all";
$slate: #2D3644;
$grey: #B6B6B6;
$forest: #505D2D;
$red: #B72633;

@import "sass/base/_all";
@import "sass/elements/_all";
@import "sass/components/_all";
@import "sass/grid/_all";
@import "sass/layout/_all";

body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

footer {
  max-height: 3%;
}

a.icon {
  color: $red;
}

.space-above-and-below {
  padding: 7% 0;
}

.red {
  color: $red;
}

.coral {
  color: lightcoral;
}

.variant-1 {
  border-bottom: 0.5px dashed white;
  color: white;
  max-width: 98px;
}

.variant-2 {
  border-bottom: 0.5px dashed black;
  color: black;
  max-width: 120px;
}

.code {
  background: url("/images/code.png") no-repeat right;
  min-height: 350px;
}

.poetry {
  background: url("/images/swimmer.jpg") no-repeat center;
  min-height: 350px;
}
