@charset "utf-8";
@import "normalize";

@import "sass/utilities/_all";
$slate: #2D3644;
$grey: #B6B6B6;
$forest: #505D2D;
$red: #B72633;

@import "sass/base/_all";
@import "sass/elements/_all";
@import "sass/components/_all";
@import "sass/grid/_all";
@import "sass/layout/_all";

body {
  border-top: 8px solid $red;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

footer {
  max-height: 3%;
}

a.icon {
  color: $red;
}

.space {
  padding: 4% 2%;
}

.red {
  color: $red;
}

.coral {
  color: lightcoral;
}

nav {
  text-align: center;
  padding-top: 98px;

  a {
    color: $red;
    font-size: 1.2em;
    font-weight: 200;
    padding: 0 15px;
  }
}


.variant-1 {
  border-bottom: 0.5px dashed white;
  color: white;
  max-width: 98px;
}

.variant-2 {
  border-bottom: 0.5px dashed black;
  color: black;
  max-width: 120px;
}

.code {
  background: url("/images/code.png") no-repeat right;
  min-height: 350px;
}

.poetry {
  background: url("/images/swimmer.jpg") no-repeat center;
  min-height: 350px;
}
