<section class="hero is-fullheight" id="about-me">
  <div class="hero-body">
    <div class="container space">
      <div class="columns">
        <div class="column is-half bio">
          <h1 class="title red">About Me</h2>
            <p>Presently I write code at <a href="http://www.barbershoplabs.com">Barbershop Labs</a>, a web and mobile development shop building clean-cut solutions for startups and established brands alike. <a href="#code">Read more about my coding interests and projects...</a></p>
            <p>I'm also a writer, primarily of poetry. My work has appeared or is forthcoming in <em>Glass: A Journal of Poetry</em>, <em>Drunk in a Midnight Choir</em>, and <em>Pamplemousse</em>, and my reviews have appeared in <em>The Rumpus</em>. I hold an MA in English and Women's and Gender Studies from Brandeis University. <a href="#writing">Read more about my publications...</a></p>
            <h1 class="title red margin-top-med">Contact</h1>
            <p>I can be contacted via email: hello (at) melissaleighgore.com.</p>
  <!--           <p>If you are trying to break into coding as a career and are looking for some help, check out the <a href="/resources.html">resources and advice</a> I've compiled.</p>
   -->
          </div>
        <div class="column">
          <figure class="image mlg">
            <img src="/images/mlg.jpg" class="headshot">
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>