<section class="hero is-medium blog-section" id="blog">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-three-quarters is-offset-1 overlay">
          <h1 class="title red is-1">Blog</h1>
          <p>Stay tuned for a blog, or a tinyletter, or whatever the kids are doing these days.</p>
        </div>
      </div>
    </div>
  </div>
</section>