<section class="hero is-medium code-section" id="code">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-three-quarters is-offset-1 overlay">
          <h1 class="title red is-1">Code</h1>
          <p>Presently I work for <a href="http://www.barbershoplabs.com">Barbershop Labs</a>, a web and mobile development shop in Boston, MA. I've been writing code for the web on and off since I was a preteen in the late 90s, but made a full career pivot to full-stack web application development in 2015 when I won a code-contest scholarship to attend <a href="https://launchacademy.com">Launch Academy</a>.</p>
          <p>I've helped get some cool projects off the ground doing freelance web development, including LGBTQ-friendly lingerie shopping at <a href="http://www.bluestockingsboutique.com">Bluestockings Boutique</a> and worker organizing at the <a href="http://www.maineworkers.org/">Southern Maine Worker's Center</a>, among other non-profit and corporate customers.</p>
          <p>I really enjoy building things that are useful, beautiful, and well-tested. I also like learning new things, preferably via <a href="https://twitter.com/surrealistpoet">ridiculous</a> <a href="https://github.com/mlg-/surrealist-poetry-bot">side-projects</a> when possible! You can find me on <a href="http://www.github.com/mlg-">Github</a> and <a href="https://www.linkedin.com/in/melissaleighgore/">LinkedIn</a>. Please note that I am not currently interested in speaking with recruiting agencies; emails will not be returned.</p>
        </div>
      </div>
    </div>
  </div>
</section>