<section class="hero is-medium code-section" id="code">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column"></div>
        <div class="column is-three-quarters overlay">
          <h1 class="title red is-1">Code</h1>
          <p>Presently I work for <a href="http://www.barbershoplabs.com">Barbershop Labs</a>, a web and mobile development shop in Boston, MA. I write code primarily in Ruby (Ruby on Rails), Javascript (vanilla, jQuery, Ember, and React), and some Elixir (Phoenix) for our clients. I've been writing code on and off since I was a preteen in the late 90s but officially made a career pivot to full-stack web development in 2015 when I won a code-contest scholarship to attend <a href="https://launchacademy.com">Launch Academy</a>.</p>
          <p>I've helped get some exciting projects off the ground doing freelance web development, including LGBTQ-friendly lingerie shopping at <a href="http://www.bluestockingsboutique.com">Bluestockings Boutique</a> and worker organizing at the <a href="http://www.maineworkers.org/">Southern Maine Worker's Center</a>, among other non-profit and corporate customers in a variety of industries.</p>
          <p>I enjoy building things that are useful, beautiful, and well-tested. You can find me on <a href="http://www.github.com/mlg-">Github</a> and <a href="https://www.linkedin.com/in/melissaleighgore/">LinkedIn</a>.</p>
        </div>
        <div class="column"></div>
      </div>
    </div>
  </div>
</section>