<section class="hero is-medium code-section" id="code">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column"></div>
        <div class="column is-three-quarters overlay">
          <h1 class="title red is-1">Code</h1>
          <p>Presently I work for <a href="http://actbluetech.com/">ActBlue Technical Servies</a>, where we empower small-dollar donors to contribute to the campaigns and causes that reflect their values. I've been writing code on and off since the late '90s but officially made a full-time career pivot to full-stack web development when I won a code-contest scholarship to attend <a href="https://launchacademy.com">Launch Academy</a> in 2015.</p>
          <p>I've also helped get some exciting projects off the ground doing freelance web development, including LGBTQ+-friendly lingerie shopping at <a href="http://www.bluestockingsboutique.com">Bluestockings Boutique</a> and worker organizing at the <a href="http://www.maineworkers.org/">Southern Maine Workers' Center</a>, among other non-profit and corporate customers in a variety of industries.</p>
          <p>I enjoy building things that are useful, beautiful, and well-tested. You can find me on <a href="http://www.github.com/mlg-">Github</a> and <a href="https://www.linkedin.com/in/melissaleighgore/">LinkedIn</a>.</p>
        </div>
        <div class="column"></div>
      </div>
    </div>
  </div>
</section>