<h1 class="title">Hi there.</h2>
<h1 class="title">I'm <strong><span class="red">Melissa Leigh Gore</span></strong>,</h2>
<h2 class="subtitle">a full-stack web developer and writer from Boston, MA.</h2>
