<h1 class="title is-3">Hi there.</h2>
<h1 class="title is-2">I'm <strong><span class="red">Melissa Leigh Gore</span></strong>,</h2>
<h2 class="subtitle is-4">a full-stack web developer and writer from Boston, MA.</h2>
