<section class="hero is-medium" id="writing">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-4">
          <h1 class="title red is-1">Writing</h1>
          <p>I like to write poems, and also about poems.</p>
          <h2 class="title is-2 margin-top-med">Poetry</h2>
          <h3 class="title is-4 margin-top red">Forthcoming</h3>
          <p>Four Poems in <em>WICKED ALICE</em></p>
          <p>"Drinking with Bernoulli in Wicker Park" in <em>Glass: A Journal of Poetry</em>, August 2018</p>
          <h3 class="title is-4 margin-top red">Previously</h3>
          <p><a href="http://drunkinamidnightchoir.com/melissa-leigh-gore/">"Prayer"</a> in <em>Drunk in a Midnight Choir</em>, Spring 2017</p>
          <p>"Topography" in <em><a href="http://a.co/9FtuOnu">Pamplemousse</a></em> 4.2</p>
        </div>
        <div class="column is-8">
          <div class="column">
            <h2 class="title is-2">Book Reviews</h2>
              <p><a href="http://therumpus.net/2014/08/ultramegaprairieland-by-elisabeth-workman/">Review of <em>Ultramegaprairieland</em></a>  &nbsp;by Elisabeth Workman in <em>The Rumpus</em></p>
              <p><a href="http://therumpus.net/2014/06/interrobang-by-jessica-piazza/">Review of <em>Interrobang</em></a> &nbsp;by Jessica Piazza in <em>The Rumpus</em></p>
              <p><a href="http://therumpus.net/2014/05/she-has-a-name-by-kamilah-aisha-moon/">Review of <em>She Has a Name</em></a> &nbsp;by Kamilah Aisha Moon in <em>The Rumpus</em></p>
              <p><a href="/review-wendy-xus-you-are-not-dead.html">Review of <em>You are Not Dead</em></a> &nbsp;by Wendy Xu</p>
            </div>
          <div class="tile is-parent is-hidden-mobile">
            <article class="tile is-child">
              <figure class="image book-tile">
                <a href="http://therumpus.net/2014/08/ultramegaprairieland-by-elisabeth-workman/"><img src="/images/umpl.jpg" alt="Ultramegaprairieland book cover"></a>
              </figure>
            </article>
            <article class="tile is-child">
              <figure class="image book-tile">
                <a href="http://therumpus.net/2014/06/interrobang-by-jessica-piazza/"><img src="/images/interrobang.jpg" alt="Interrobang book cover"></a>
              </figure>
            </article>
            <article class="tile is-child">
              <figure class="image book-tile">
                <a href="http://therumpus.net/2014/05/she-has-a-name-by-kamilah-aisha-moon/"><img src="/images/shehasaname.jpg" alt="She Has a Name book cover"></a>
              </figure>
            </article>
            <article class="tile is-child">
              <figure class="image book-tile">
                <a href="/review-wendy-xus-you-are-not-dead.html"><img src="/images/youarenotdead-tile.jpg" alt="You are Not Dead book cover"></a>
              </figure>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>