---
title: about me
---

<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container space">
      <div class="columns">
        <div class="column">
          <%= partial "intro" %>
          <p>Presently I write code at <a href="http://www.barbershoplabs.com">Barbershop Labs</a>, a web and mobile development shop building clean-cut solutions for startups and established brands alike. <a href="/code.html">Read more about my coding interests and projects...</a></p>
          <p>I'm also a writer, primarily of poetry. My work is forthcoming in <em>Pamplemousse</em> and <em>Drunk in a Midnight Choir</em>, and my reviews have appeared in <em>The Rumpus</em>. I hold an MA in English and Women's and Gender Studies from Brandeis University. <a href="/code.html">Read more about my writing...</a></p>
          <p>I live just outside of Boston, MA with my husband and our surly tabby cat.</p>
          <h1 class="title red">Contact</h1>
          <h2 class="subtitle">I can be contacted via email at sayhi [at] melissaleighgore.com.</h2>
<!--           <p>If you are trying to break into coding as a career and are looking for some help, check out the <a href="/resources.html">resources and advice</a> I've compiled.</p>
 -->          <p>Please note that I am not accepting any requests from tech recruiting agencies at this time, and emails of this nature will not be returned.</p>
        </div>

        <div class="column">
          <nav class="secondary">
            <a href="/">home</a> | 
            <a href="/code.html">code</a> | 
            <a href="/poetry.html">poetry</a> | 
            <a href="/blog.html">blog</a>
          </nav>
          <figure class="image mlg">
            <img src="/images/mlg.jpg">
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>