<section class="container space-above-and-below">
  <div class="columns">
    <div class="column is-half tile is-parent">
      <div class="tile is-child box">
        <figure class="image">
          <img src="images/mlg.jpg">
        </figure>
      </div>
    </div>

    <div class="column">
      <div class="hero-body">
        <h2 class="title">Hi there.</h2>
        <h2 class="title">I'm <strong><span class="red">Melissa Leigh Gore</span></strong>,</h2>
        <h2 class="subtitle">a full-stack web developer and writer from Boston, MA.</h2>
      </div>
    </div>
  </div>
</section>