<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container space">
      <div class="columns">
        <div class="column">
          <%= partial "intro" %>
          <p>Presently I write code at <a href="http://www.barbershoplabs.com">Barbershop Labs</a>, a Metro-West web development shop building clean-cut solutions for startups and established brands alike. I like making web applications that are useful as well as beautiful, and enjoy writing code for the full stack. <a href="/code.html">Read more about my coding interests and projects...</a></p>
          <p>I'm also a writer, primarily of poetry. My work is forthcoming in <em>Pamplemousse</em>, <em>Drunk in a Midnight Choir</em>, and my reviews have appeared in <em>The Rumpus</em>. I hold an MA in English and Women's and Gender Studies from Brandeis University, where I wrote my thesis about Sharon Olds. <a href="/code.html">Read more about my writing...</a></p>
          <p>I live just outside of Boston, MA with my husband and our surly tabby cat.</p>
        </div>
        <div class="column">
          <nav class="secondary">
            <a href="/">home</a> | 
            <a href="/code.html">code</a> | 
            <a href="/poetry.html">poetry</a> | 
            <a href="/contact.html">contact</a> | 
            <a href="/blog.html">blog</a>
          </nav>
          <figure class="image">
            <img src="/images/mlg.jpg">
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>