---
title: Welcome to Middleman
---
<section class="container space is-large">
  <div class="columns">
    <div class="column">
      <%= partial "intro" %>
    </div>
    <div class="column">
      <nav class="home">
        <a href="/bio.html">about me</a> | 
        <a href="/contact.html">contact</a> | 
        <a href="/blog.html">blog</a>
      </nav>
    </div>
  </div>
  
  <div class="columns">
    <div class="column">
      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <article class="code tile is-child box">
            <h2 class="variant-1 title is-2">code</h2>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="poetry tile is-child box">
            <h2 class="variant-2 title is-2">poetry</h2>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>