---
title: Welcome to Middleman
---

<div class="welcome">
  <div class="bad-ass-hotdog-princess">
    <%= image_tag "princesshotdog.png", id: "hot-dog" %>
  </div>
  <h1>Melissa Leigh Gore</h1>
  <p class="bio">
    I write code for a living and poetry to get a life.
  </p><!-- .doc -->
</div><!-- .welcome -->
