---
title: Welcome to Middleman
---
<section class="container space-above-and-below">
  <div class="columns">
<!--     <div class="column is-half tile is-parent">
      <div class="tile is-child box">
        <figure class="image">
          <img src="images/mlg.jpg">
        </figure>
      </div>
    </div> -->

    <div class="column">
      <div class="container">
        <h2 class="title">Hi there.</h2>
        <h2 class="title">I'm <strong><span class="red">Melissa Leigh Gore</span></strong>,</h2>
        <h2 class="subtitle">a full-stack web developer and writer from Boston, MA.</h2>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <article class="code tile is-child box">
          <h2 class="variant-1 title is-2">code</h2>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="poetry tile is-child box">
          <h2 class="variant-2 title is-2">poetry</h2>
        </article>
      </div>
    </div>
  </div>
</section>

