---
title: Welcome to Middleman
---
<!-- <section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title red">
        Melissa Leigh Gore
      </h1>
      <h2 class="subtitle">
        web developer & writer
      </h2>
    </div>
  </div>
</section> -->

<section class="container space-above-and-below">
  <div class="columns">
<!--     <div class="column is-one-quarter">
      <div class="hero-body">
        <h2 class="title"><strong>Hi, I'm MLG.</strong></h2>
        <h2 class="subtitle">I'm a full-stack web developer and writer from Boston, MA.</h2>
      </div>
    </div>
 -->    <div class="column">
      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <article class="code tile is-child box">
            <h2 class="variant-1 title is-2">code</h2>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="poetry tile is-child box">
            <h2 class="variant-2 title is-2">poetry</h2>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>

