---
title: National Poetry Month 2017 Picks
---
<div class="container space">
  <div class="columns">
    <div class="column is-half">
      <h1 class="title red">National Poetry Month 2017 Picks</h1>
      <p>April 1, Marie Howe<br /><a href="https://www.poetryfoundation.org/poems-and-poets/poems/detail/48561">&ldquo;The Copper Beech"</a><br /><a href="https://www.poetryfoundation.org/poems-and-poets/poems/detail/52786">&ldquo;Hurry"</a></p>
      <p>April 2, Megan Fernandes<br /><a href="http://www.theadroitjournal.org/issue-nineteen-megan-fernandes-the-adroit-journal/">&ldquo;Fabric in Tribeca"<br /></a><a href="http://www.thecommononline.org/white-people-always-want-tell-me-they-grew-poor">&ldquo;White People Always Want to Tell Me that They Grew Up Poor"</a></p>
      <p>April 3, Emily O'Neill<br /><a href="https://vagabondcitylit.com/2016/04/01/i-will-die-chained-to-an-espresso-machine-by-emily-oneill/">&ldquo;I Will Die Chained to an Espresso Machine"</a></p>
      <p>April 4, Jill McDonough<br /><a href="http://poems.com/poem.php?date=17065">&ldquo;Path to Nowhere"</a></p>
      <p>April 5, Safia Elhillo<br /><a href="http://www.boaatpress.com/still-life-as-unreliable-narrator/">"Still Life as Unreliable Narrator"</a><br /><a href="http://www.narrativenortheast.com/?p=4433">"Still Life with My Mother's Hijab"</a></p>
      <p>April 6, Su Hwang<br /><a href="http://www.tinderboxpoetry.com/cancer">"Cancer"<br /></a><a href="http://www.rogueagentjournal.com/shwang">"Fault Lines"</a></p>
      <p>April 7, Warsan Shire<br /><a href="https://www.umcnic.org/wp-content/uploads/2015/06/Home-Poem-by-Warsan-Shire.pdf">&ldquo;Home"</a></p>
      <p>April 8, Kaveh Akbar<br /><a href="http://www.benningtonreview.org/akbar">&ldquo;Desunt Nonnulla"</a></p>
      <p>April 9, K.T. Landon<br /><a href="http://www.radarpoetry.com/to-my-husband/">&ldquo;To My Husband, To Make Much of Time"</a></p>
      <p>April 10, M.K. Foster<br /><a href="https://theoffingmag.com/poetry/gods-august-ii-song-sisters-body/">"Song for My Sister's Body"</a></p>
      <p>April 11, Alison Thumel<br /><a href="http://therumpus.net/2017/03/the-sunday-rumpus-julia-hahnbreitbart-erasure-poems-by-alison-thumel/">Erasure Poems</a></p>
      <p>April 12, Mary Oliver<br /><a href="https://www.loc.gov/poetry/180/133.html">"The Summer Day"</a></p>
      <p>April 13, Saeed Jones<br /><a href="http://www.quarterlywest.utah.edu/iss_76/iss_76_scheherazadesleepsthroughtheexecutions.html">"Scheherazade Sleeps Through the Executions&rdquo;</a></p>
      <p>April 14, Victoria Chang<br /><a href="http://diodepoetry.com/chang_victoria/">poems from Barbie Chang</a></p>
      <p>April 15, Jess Rizkallah<br /><a href="http://www.wyvernlit.com/seven/jess-rizkallah#yui_3_17_2_1_1490807929220_188">&ldquo;The Daylight is Equal Parts Funeral Procession and Parade"</a><br /><a href="https://www.youtube.com/watch?v=5EZciCaPs0A">&ldquo;i am but i&rsquo;m not"</a><br /><a href="http://voicemailpoems.org/post/108085267898/they-call-me-thunder-thighs-by-jess-rizkallah">&ldquo;they call me Thunder Thighs"</a><br /><a href="http://www.rattle.com/t-s-eliot-in-the-time-of-trashfire-by-jess-rizkallah/">&ldquo;T.S. Eliot in the time of trash fire"</a></p>
      <p>April 16, Ilya Kaminsky<br /><a href="https://www.poetryfoundation.org/poems-and-poets/poems/detail/91413">&ldquo;We Lived Happily During the War"</a></p>
      <p>April 17, Kala Ramesh<br /><a href="https://acornhaiku.com/sample-poems/">haiku, untitled</a></p>
      <p>April 18, Heather Bell<br /><a href="pic.twitter.com/wk4KBB2uqq">&ldquo;Matryoshka, Nesting Doll"</a></p>
      <p>April 19, Marty McConnell<br /><a href="pic.twitter.com/wOLGqqssaq">"somebody"</a><a href="http://theglasschild.tumblr.com/post/62261832822/when-the-one-you-thought-finally-wouldnt"><br />"when the one you thought, finally, wouldn't, does"</a></p>
      <p>April 20, Molly McCully Brown<br /><a href="pic.twitter.com/f2FvB9jjyq">"What Exactly is Overheard"</a>&nbsp;</p>
      <p>April 21, Maggie Smith<br /><a href="https://www.poetryfoundation.org/poems-and-poets/poems/detail/89897">"Good Bones"</a></p>
      <p>April 22, Jennifer K Sweeney<br /><a href="http://www.westtrestlereview.com/archive.html">"Orbit Song"</a></p>
      <p>April 23, Ada Lim&oacute;n<br /><a href="https://womensvoicesforchange.org/poetry-sunday-how-to-triumph-like-a-girl-by-ada-limon.htm">"How to Triumph Like a Girl"</a><br /><a href="https://www.poets.org/poetsorg/poem/notes-below">"Notes on the Below"</a><br /><a href="http://www.buenosairesreview.org/2015/02/ada-limon/">"Accident Report in the Tall, Tall Weeds"</a></p>
      <p>April 24, Morgan Parker<br /><a href="https://www.poets.org/poetsorg/poem/lush-life">"Lush Life" from There are More Beautiful Things than Beyonce</a></p>
      <p>April 25, Wendy Xu<br />excerpts from <a href="http://www.fenceportal.org/?page_id=6438">PHRASIS</a></p>
      <p>April 26, Phillip B Williams<br />part of "Interruptive" from <a href="pic.twitter.com/ap0a6YNwBN">May 2017 issue of POETRY</a></p>
      <p>April 27, Kamilah Aisha Moon<br /><a href="http://chapter16.org/watching-a-woman-on-the-m101-express/">&ldquo;Watching a Woman on the M101 Express&rdquo;</a> from She Has a Name</p>
      <p>April 28, Hanif Willis-Abdurraqib<br /><a href="http://readwildness.com/8/willis-abdurraqib-poems">new poems from wildness</a></p>
      <p>April 29, Ocean Vuong<br /><a href="https://linebreak.org/poems/home-wrecker/">&ldquo;Homewrecker,&rdquo; </a>from Night Sky with Exit Wounds</p>
      <p>April 30, Sage Lily Perkins (age four!)<br /><a href="http://www.rattle.com/windlight-moon-by-sage-lily-perkins/">&ldquo;Windlight Moon"</a></p>
    </div>

    <div class="column">
      <nav class="secondary">
        <a href="/"><- back</a>
      </nav>
    </div>
  </div>
</div>
