---
title: poetry
---

<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container space">
      <div class="columns">
        <div class="column">
          <h1 class="title red">poetry</h1>
          <p>coming soon</p>
        </div>
        <div class="column">
          <nav class="secondary">
            <a href="/">home</a> | 
            <a href="/bio.html">about me</a> | 
            <a href="/code.html">code</a> | 
            <a href="/blog.html">blog</a>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
